<h2>admin-console works!</h2>
<form [formGroup]="placeUpdateForm" (ngSubmit)="onSubmit()">
  <label for="placename">placename</label>
  <input formControlName="placename" type="text" id="placename" />

  <label for="description">description</label>
  <input formControlName="description" type="text" id="description" />

  <button type="submit">Update Place</button>
</form>


<hr />

<!-- Delete Tourist Place Form -->
<form [formGroup]="placeDeleteForm" (ngSubmit)="onSubmitDelete()">
  <label for="placenameDelete">Placename to Delete</label>
  <input formControlName="placenameDelete" type="text" id="placenameDelete" />

  <button type="submit">Delete Place</button>
</form>
